@import url(http://fonts.googleapis.com/css?family=Signika:400,300,600,700);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500,700,400italic,500italic,700italic,300italic,300);

body {
	font-family: Ubuntu;
	color: #273142;
}

h1, h2, h3, h4, h5 {
	font-family: Signika;
}

.kaaskop h1, .lagoon h1 {
	text-shadow: 2px 2px #111;
}

a {
	color: #4ECDC4;
}

a:hover {
	color: #C7F464;
}

.jumbotron.small h1 {
	font-size: 3em
}

nav {
	font-family: Signika;
}


.kaaskop {
	background-color: #CC0C39;
	color: white
}

.sakura {
	background-color: #E6781E;
	color: white;
}

.spring {
	background-color: #C8CF02
}

.pera {
	background-color: #F8FCC1
}

.lagoon {
	background-color: #1693A7;
	color: white
}


/* -- */

.slate {
	background-color: #556270;
	color: white
}

.pacifica {
	background-color: #4ecdc4;
}

.chic {
	background-color: #c7f464;
}

.pink {
	background-color: #ff6b6b;
	color: white
}

.pillow {
	background-color: #c44d58;
	color: white
}

/* -- */

.girl {
	background-color: #E4A691;
	color: #FFF5DF;
	text-shadow: 1px 1px 2px #273142;
}

.nineties {
	background-color: #F7EFD8;
}

.euphoria {
	background-color: #C8C8A9;
	color: #FFF5DF;
	text-shadow: 1px 1px 2px #273142;
}

.slate2 {
	background-color: #556270;
	color: #F7EFD8;
	text-shadow: 1px 1px 2px #273142;
}

.tangblend {
	background-color: #273142;
	color: #F7EFD8;
	text-shadow: 1px 1px 2px #071122;
}
