.logo-container .brand img {
    max-height: 100%
}

.landing-page .parallax .description {
  padding-left: 0px;
}

img.head {
  max-height: 100px;
  margin-left: -28px;
}

.btn-neutral>img {
    max-height: 14px;
    /*margin-bottom: 8px;*/
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  font-family: Dosis;
}

@media (max-width: 990px){
  img.phone {
    display: none;
  }

  div.parallax-background {
    max-height: 600;
  }
}
